/* Place in /etc/systemd/system/ */

[Unit]
Description=Geth

[Service]
Type=simple
User=validator
Restart=always
ExecStart=/usr/local/bin/builder --config /ethereum/builder.toml
// ExecStart=/usr/local/bin/geth --goerli --http --http.addr 0.0.0.0 --http.api "eth,web3,txpool,net,debug,engine" --ws --ws.addr 0.0.0.0 --datadir /data/ethereum --authrpc.jwtsecret /data/consensus/prysm/jwt.hex

[Install]
WantedBy=default.target
